        <!DOCTYPE html>
<html>
        <header>
            <button type="button" onclick="window.location.href='https://youtu.be/dQw4w9WgXcQ';"><span>The Unhackable News</span></button>
        </header>
        <hr />

        <nav>
            <a href="/">Home</a>
            <a href="/origin">The Origin </a>
            <a href="/videos">Videos</a>
            <a href="/damages">Damages</a>
            <a href="/sources">Sources</a>
            <a href="/validation">Validation</a>
        </nav>