<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Unhackable News - Home
        </title>
        <link  href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=robotto&effect=anaglyph" rel="stylesheet">
    </head>
    <body>
<%- include('partials/header.ejs') %>
        <h2>My.Doom, A Deadly Virus...</h2>
        <main>
            
            <figure>
                <img id="profilePic" src="/images/mydoom.gif" alt="mydoom" width="420">
                
                
            </figure>
            <div id="intro">
                <h3>Encrypted Message</h3>
                <p>Sorry, You can't see this message.</p>
                <p>This Worm is designed to ruin computers, and to ensure destruction for its victims.</p>
                <p>Press on the links to learn More.</p>
                <hr>

            </div>
            

        </main>
        

<%- include('partials/footer.ejs') %>


        
    </body>

</html>


