<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Unhackable News - origin
        </title>
        <link  href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=robotto&effect=anaglyph" rel="stylesheet">
    </head>
    <body>
<%- include('partials/header.ejs') %>
        <h2>The Origins of My.Doom.</h2>
        <main>
            <figure>
                <a href="https://thumbs.gfycat.com/HeartyMinorEmperorpenguin-size_restricted.gif">
                    
                <img id="profilePic" src="https://thumbs.gfycat.com/HeartyMinorEmperorpenguin-size_restricted.gif"  alt="mydoom" width="420">
                </a>    
                
            </figure>
            <div id="intro">
                
                <code>It is initally believed that Russian Hackers had sent messages to Businesses to America.</code>
                
                <code>This Worm's intent was to take down machines, and to open a backdoor to unsuspecting users. </code>
                <code>There's alot of debate on who caused my.doom and the varients of my.doom has been more deadly than the last.</code>
                <hr>
            </div>
            

        </main>
        

<%- include('partials/footer.ejs') %>


        
    </body>

</html>


