<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Unhackable News - Sources
        </title>
        <link  href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=robotto&effect=anaglyph" rel="stylesheet">
    </head>
    <body>
<%- include('partials/header.ejs') %>
        <h2>Sources</h2>
        <main>
            
            <figure>
                <iframe src="https://collegesofccccca-my.sharepoint.com/personal/lchiem791_insite_4cd_edu/_layouts/15/Doc.aspx?sourcedoc={50cefa96-9146-41a2-b44b-2de72ef212a1}&amp;action=embedview" width="600" height="600" ></iframe>   
            </figure>


            

        </main>
        

<%- include('partials/footer.ejs') %>


        
    </body>

</html>





