<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Unhackable News - validation
        </title>
        <link  href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=robotto&effect=anaglyph" rel="stylesheet">
    </head>
    <body>
<%- include('partials/header.ejs') %>
        <h2>Valdation</h2>
        <main>
            <div>
                <a href="https://gyazo.com/bb9f075a6eb3d11331ff4c7af7f06159"><img src="https://i.gyazo.com/bb9f075a6eb3d11331ff4c7af7f06159.png" alt="Image from Gyazo" width="1913"/></a>

                <a href="https://gyazo.com/27bcbb5bb2a65a3f81dfa69da04a9744"><img src="https://i.gyazo.com/27bcbb5bb2a65a3f81dfa69da04a9744.png" alt="Image from Gyazo" width="1065"/></a>

                <a href="https://gyazo.com/c1e7c97cbb838c7909d184ff9c750274"><img src="https://i.gyazo.com/c1e7c97cbb838c7909d184ff9c750274.png" alt="Image from Gyazo" width="1080"/></a>

                <a href="https://gyazo.com/3a1fedaaf76fd51980c58b957e58c9f5"><img src="https://i.gyazo.com/3a1fedaaf76fd51980c58b957e58c9f5.png" alt="Image from Gyazo" width="1079"/></a>

                <a href="https://gyazo.com/5d25b1590b4968360748cd3521ed2b4c"><img src="https://i.gyazo.com/5d25b1590b4968360748cd3521ed2b4c.png" alt="Image from Gyazo" width="1072"/></a>
            </div>
            

        </main>
        

<%- include('partials/footer.ejs') %>


        
    </body>

</html>


